# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node / dependencies
node_modules/
npm-debug.log*

# Build outputs
dist/
build/
